@model Branch
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Edit Branch</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editBranchForm">
                        <input hidden id="editId" name="editId" type="number"/>
                        <div class="form-group mb-3">
                            <label>Branch Name</label>
                            <input class="form-control" id="editName" name="editName" type="text" placeholder="Branch Name">
                            <span asp-validation-for="BranchName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label>Branch Code</label>
                            <input class="form-control" id="editBranchCode" name="editBranchCode" type="text" placeholder="Branch Code">
                            <span asp-validation-for="BranchCode" class="text-danger"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnEditSave" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>