
    <!-- Modal -->
    <div class="modal fade" id="supplierCreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Create Supplier</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form id="supplierFormData">
                        <div class="form-group mb-3">
                            <label>Supplier Name</label>
                            <input class="form-control" id="name" name="name" type="text" placeholder="Supplier Name">
                        </div>
                        <div class="form-group mb-3">
                            <label>Supplier Code</label>
                            <input class="form-control" id="supplierCode" name="supplierCode" type="text" placeholder="Supplier Code">
                        </div>
                        <div class="form-group mb-3">
                            <label>Supplier Address</label>
                            <input class="form-control" id="supplierAddress" name="supplierAddress" type="text" placeholder="Supplier Address">
                        </div>
                        <div class="form-group mb-3">
                            <label>Supplier Phonenumber</label>
                            <input class="form-control" id="supplierPhonenumber" name="supplierPhonenumber" type="text" placeholder="Supplier Phonenumber">
                        </div>
                        <div class="form-group mb-3">
                            <label>Supplier Email</label>
                            <input class="form-control" id="supplierEmail" name="supplierEmail" type="email" placeholder="Supplier Email">
                        </div>
                        <div class="form-group mb-3">
                            <label>Supplier Country</label>
                            <input class="form-control" id="supplierCountry" name="supplierCountry" type="text" placeholder="Supplier Country">
                        </div>
                        <div class="form-group mb-3">
                            <label>Supplier State</label>
                            <input class="form-control" id="supplierState" name="supplierState" type="text" placeholder="Supplier State">
                        </div>
                        <div class="form-group mb-3">
                            <label>Supplier City</label>
                            <input class="form-control" id="supplierCity" name="supplierCity" type="text" placeholder="Supplier City">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSave" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>